* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  max-width: 42rem;
  margin: 1rem auto;
  line-height: 1.5;
}

main > * + * {
  margin-top: 1em;
}

