* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff6e6;
  background: #272324;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  min-height: 100vh;
  display: flex;
}

article {
  margin: auto;
  max-width: 42rem;
  width: 95vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

svg {
  width: 100%;
  height: auto;
}

ul {
  width: 100%;
  padding: 1.5rem 2.5rem;
  display: grid;
  gap: 1rem 2rem;
  border: 0.1rem solid currentColor;
  font-size: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}

ul li {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
