@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 10%);
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 32.5rem;
  margin: 1rem auto;
  width: 90vw;
}
#root > * + * {
  margin-top: 1rem;
}
header,
article {
  padding: 1rem 1.25rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px -3px hsla(0, 0%, 5%, 0.2);
  background: hsl(0, 0%, 100%);
}
header > * + *,
article > * + * {
  margin-top: 0.5rem;
}
h1,
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.2rem;
}
a {
  color: inherit;
}
article svg {
  margin: 1rem auto;
  width: 75%;
  height: auto;
  display: block;
}
