@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 5%);
  font-family: "Ubuntu", sans-serif;
}

main {
  box-shadow: 0 2px 5px -3px hsla(0, 0%, 5%, 0.2);
  padding: 1.25rem 1rem;
  background: hsl(0, 0%, 100%);
  max-width: 35rem;
  margin: 1rem auto;
  width: 90vw;
}
h1 {
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 0.5rem;
}
main svg {
  margin: 2rem auto 1rem;
  width: 80%;
  height: auto;
  display: block;
}
