* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(240, 19%, 10%);
  background: hsl(0, 0%, 99%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 100%;
  max-width: 42rem;
  margin: 1rem auto;
  padding: 4rem;
  background: hsl(0, 0%, 99%);
  border: 0.55rem solid hsl(2, 100%, 44%);
  border-left: none;
  border-radius: 0 2rem 2rem 0;
  position: relative;
}

div::before {
  z-index: -5;
  content: "";
  position: absolute;
  top: -3rem;
  bottom: -3rem;
  left: 1rem;
  width: 2rem;
  background-image: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45 45" width="45" height="45">\
      <g fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="square">\
        <path d="M 0 15 15 0" />\
        <path d="M 0 30 30 0" />\
        <path d="M 15 45 45 15" />\
        <path d="M 30 45 45 30" />\
        <path d="M 0 45 45 0" />\
      </g>\
    </svg>');
  background-size: 100%;
}

div > * + * {
  margin-top: 1rem;
}

div > svg {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

div > svg:focus {
  outline-color: currentColor;
  outline-offset: 0.5rem;
}

div > svg:focus:not(:focus-visible) {
  outline: none;
}
