@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nova+Mono&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#032b6a, #040d21);
  color: hsl(0, 0%, 100%);
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
}

#root {
  max-width: 800px;
  width: 90vw;
  margin: 0.5rem auto;
  line-height: 1.75;
}

#root > * + * {
  margin-top: 1em;
}

h1 {
  font-weight: 700;
  font-size: 2.32rem;
}

abbr {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: 'Nova Mono', monospace;
  padding: 0 0.25rem;
  background: hsl(0, 0%, 98%, 0.25);
}

main > * + * {
  margin-top: 0.75em;
}

main svg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
}

main input {
  padding: 0.5rem 0;
  width: 100%;
  max-width: 600px;
}

footer {
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:focus {
  outline: none;
  border-bottom-color: currentColor;
}

a:hover {
  border-bottom-color: currentColor;
}
