@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(210, 50%, 10%);
  color: hsl(220, 90%, 98%);
  font-family: 'Ubuntu', sans-serif;
}
main {
  max-width: 35rem;
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
main canvas {
  align-self: center;
}
main > * + * {
  margin-top: 1rem;
}
main p {
  line-height: 1.5;
}
main table {
  table-layout: fixed;
  /* border-collapse: collapse; */
  max-width: 30rem;
  width: 100%;
  align-self: center;
}
main table th {
  text-align: initial;
  font-weight: initial;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 1rem 0.5rem;
}
main table td {
  font-size: 1.1rem;
  padding: 0.5rem;
}
main table thead tr {
  background: hsl(210, 50%, 20%);
}
main table tbody tr {
  background: hsl(210, 50%, 13%);
}

main table tbody tr:nth-of-type(even) {
  background: hsl(210, 50%, 16%);
}
