* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff6e6;
  background: #272324;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root {
  margin: 1rem auto;
  width: 100%;
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

#root > ul {
  width: 100%;
  max-width: 42rem;
}

ul {
  padding: 1.25rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 1rem 2rem;
  border: 0.1rem solid currentColor;
  font-size: 0.9rem;
}

ul li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

#root > #controls {
  max-width: 42rem;
}

#controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#controls button {
  color: inherit;
  border: 0.1rem dashed currentColor;
  margin-left: -0.025rem;
  margin-right: -0.025rem;
  border-radius: 0;
  background: none;
  padding: 0.4rem 0.8rem;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
}

#controls button.active {
  background: #fff6e609;
  border-style: solid;
}

#root > #viz {
  width: 100%;
}

#viz {
  position: relative;
}

#viz > #tooltip {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -100%);
}

#tooltip {
  width: max-content;
  color: #272324;
  background: #fff6e6de;
  display: inline-block;
  padding: 0.65rem 0.75rem;
  box-shadow: 0 0 0 0.3rem #00000022;
}

#tooltip > * + * {
  margin-top: 0.75em;
}

#tooltip h2 {
  font-size: 1em;
}

#tooltip dl {
  display: grid;
  gap: 0.6rem 1.1rem;
  grid-template-columns: repeat(2, auto);
  font-size: 0.95rem;
}

#tooltip dl dt {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  letter-spacing: 0.05rem;
}

#tooltip dl dd {
  font-weight: 700;
  text-align: right;
}
