* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #0b1629;
  background: #ffffff;
  --color-line: #ff3f34;
  --color-accent: #ff3f34;
  accent-color: var(--color-accent);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root {
  max-width: 48rem;
  margin: 1rem auto;
}

#root > * + * {
  margin-top: 0.5em;
}

h1 {
  font-size: 1.49rem;
}

p {
  max-width: 65ch;
  line-height: 1.25;
}

a {
  color: inherit;
  border-bottom: 0.1rem solid var(--color-accent);
  text-decoration: none;
}

a:focus {
  outline-offset: 0.1rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  display: none;
}

thead th {
  text-align: left;
}

tbody tr:not(:first-of-type) {
  border-top: 0.1rem solid #d6dee1;
}

tbody tr td {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1.5rem 0.5rem;
}

tbody tr td:last-of-type {
  font-size: 1.5rem;
  color: var(--color-line, currentColor);
}
