* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 23%);
  background: hsl(0, 0%, 100%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root {
  max-width: 52rem;
  margin: 1rem auto;
  padding: 1rem;
}

#root > * + * {
  margin-top: 1em;
}

h1 {
  font-size: 1.48rem;
}

a {
  color: inherit;
  font-weight: 700;
}

.chart {
  display: block;
  color: hsl(0, 0%, 32%);
}

.chart text {
  fill: currentColor;
}

form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5rem;
}

label {
  color: hsl(0, 0%, 25%);
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 0 0.5rem;
}

label input {
  width: 1em;
  height: 1em;
  opacity: 0;
}

label svg {
  display: block;
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  position: absolute;
}
