* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 23%);
  background: hsl(0, 0%, 100%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

svg {
  margin: 1rem auto;
  max-width: 48rem;
  display: block;
  color: hsl(0, 0%, 32%);
}

svg text {
  fill: currentColor;
}
