* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff6e6;
  background: #272324;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}
