@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu Mono", monospace;
  color: hsl(0, 0%, 20%);
  background: hsl(35, 90%, 98%);
}

main {
  max-width: 35rem;
  width: 90vw;
  margin: 1rem auto;
}
main h1 {
  margin-bottom: 0.4rem;
}
main p {
  margin-bottom: 0.5rem;
  line-height: 1.75;
}
main p mark {
  padding: 0rem 0.25rem;
  background: hsl(200, 20%, 25%);
  color: hsl(200, 20%, 95%);
  display: inline-block;
}
main svg {
  color: hsl(200, 20%, 25%);
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.axis {
  font-family: inherit;
  font-size: 14px;
  letter-spacing: -1px;
  word-spacing: -1px;
}
