@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Playfair+Display:wght@900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(204, 64%, 23%);
  background: hsl(33, 82%, 94%);
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}
