@import url('https://fonts.googleapis.com/css2?family=Limelight&family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 11%);
  background: hsl(33, 82%, 98%);
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    -45deg,
    hsl(0, 0%, 5%) 0px 6px,
    hsl(0, 0%, 3%) 6px 12px
  );
}

#wrapper {
  max-width: 800px;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  background: hsl(33, 82%, 98%);
  box-shadow: 0 1px 10px -8px hsl(0, 0%, 5%);
}

#wrapper > * + * {
  margin-top: 1rem;
}

#wrapper h1 {
  font-family: 'Limelight', cursive;
  font-weight: 900;
  font-size: 2rem;
}

#wrapper p {
  font-size: 1rem;
  line-height: 1.5;
}

#wrapper p button {
  padding: 0.2rem 0.5rem;
  background-color: hsl(33, 82%, 98%);
  border: 0.5px solid hsl(352, 95%, 45%);
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#wrapper p:last-of-type {
  font-size: 0.9rem;
}

#wrapper p:last-of-type a {
  color: inherit;
}

#wrapper p button.active {
  background-color: hsl(352, 95%, 45%);
  color: hsl(33, 82%, 98%);
}

#wrapper svg {
  width: 100%;
  height: auto;
  display: block;
}

#wrapper svg text {
  font-family: 'PT Sans', sans-serif;
  fill: currentColor;
  font-size: 12px;
}

#wrapper svg text#x-axis-label {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.5;
  font-size: 14px;
}
