body {
  color: hsl(235, 78%, 13%);
  background: hsl(150, 34%, 85%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
