* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(hsl(212, 41%, 25%), hsl(216, 53%, 21%));
  --color-lines: hsl(219, 90%, 76%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  min-height: 100vh;
  display: flex;
}

svg {
  margin: auto;
  display: block;
  max-width: 42rem;
  width: 95vw;
  height: auto;
}
