* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  margin: 1rem auto;
  max-width: 42rem;
}

main svg {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

main > * + * {
  margin-top: 0.5em;
}
