* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

p {
  line-height: 1.5;
}

#root {
  margin: 0rem auto;
  max-width: 44rem;
  padding: 1rem;
}

#root > * + * {
  margin-top: 1.5em;
}

header > * + *,
article > * + * {
  margin-top: 0.25em;
}

article svg {
  width: 100%;
  height: auto;
  display: block;
}
