@import url('https://fonts.googleapis.com/css2?family=Lato&family=Trocchi&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #041d3c;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

#root {
  max-width: 800px;
  margin: 1rem auto;
  padding: 0.75rem 0.75rem;
  border-radius: 0.5rem;
}

#root > * + * {
  margin-top: 1em;
}

h1,
h2,
h3 {
  font-family: 'Trocchi', serif;
}

h1 {
  font-size: 2.48rem;
}

h2 {
  font-size: 1.84rem;
}

h3 {
  font-size: 1.76rem;
}

section > * + * {
  margin-top: 0.5em;
}

ul {
  list-style: inside;
}

ul li + li {
  margin-top: 0.25rem;
}

svg text {
  font-family: inherit;
}
