@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 20%);
  font-family: 'Open Sans', sans-serif;
}

main {
  background: hsl(0, 0%, 98%);
  box-shadow: 0 1px 10px -8px hsl(0, 0%, 20%);
  padding: 1rem;
  border-radius: 0.25rem;
  max-width: 48rem;
  width: 90vw;
  margin: 1rem auto;
}

main ul {
  display: flex;
  flex-wrap: wrap;
}

main > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  @media screen and (min-width: 48rem) {
    main {
      display: grid;
      grid-template-areas: 'p ul' 'svg ul';
      grid-template-columns: 1fr auto;
      grid-gap: 1rem 2rem;
    }
    main > * + * {
      margin-top: initial;
    }
    main p {
      grid-area: p;
    }
    main > svg {
      grid-area: svg;
    }
    main ul {
      grid-area: ul;
      justify-self: end;
      align-self: end;
      display: initial;
      flex-wrap: initial;
    }
  }
}

main p {
  line-height: 1.5;
}

main > svg {
  display: block;
  width: 100%;
  height: auto;
  align-self: end;
}

main > svg text {
  font-family: inherit;
  font-size: 0.7rem;
}

main ul {
  line-height: 1.5;
  list-style: none;
}

main ul li {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0.25rem;
}

main ul li > * + * {
  margin-left: 0.25rem;
}
