@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 14%);
  color: hsl(0, 0%, 97%);
  font-family: 'Titillium Web', sans-serif;
}

::selection {
  background: hsla(0, 0%, 100%, 0.25);
}

main {
  max-width: 800px;
  width: 90vw;
  margin: 1rem auto;
}

main > * + * {
  margin-top: 0.75em;
}

article > * + * {
  margin-top: 0.5em;
}

h1 {
  text-transform: uppercase;
  font-size: 1.42rem;
  font-weight: 300;
}

h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 0.95rem;
}

a {
  color: inherit;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
