body {
  color: hsl(0, 0%, 28%);
  background: hsl(160, 20%, 97%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  border-bottom: 1px solid currentCOlor;
  font-weight: bold;
  padding: 0.2rem;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

p {
  line-height: 1.5;
}

strong {
  text-transform: capitalize;
}
