@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(234, 16%, 25%);
  font-family: monospace;
  font-family: 'PT Sans', sans-serif;
  background-image: linear-gradient(
    to bottom,
    hsl(266, 61%, 81%),
    hsl(266, 68%, 76%)
  );
}

#wrapper {
  max-width: 550px;
  margin: 1rem auto;
  padding: 0.75rem 1rem;
  box-shadow: 0px 0px 0.9rem hsla(0, 0%, 0%, 0.1);
  background: hsl(0, 0%, 100%);
}

#wrapper > * + * {
  margin-top: 0.9rem;
}

section {
  padding: 0.75rem 1rem;
  background: hsl(210, 75%, 97%);
}

section > * + * {
  margin-top: 0.7rem;
}

h1 {
  font-size: 1.75rem;
}

a {
  color: hsl(266, 53%, 56%);
  text-decoration: none;
  border-bottom: 2px dotted currentColor;
}

abbr {
  color: hsl(266, 53%, 56%);
  text-decoration: none;
  font-weight: 700;
}

svg {
  display: block;
}

svg text {
  font-family: 'PT Sans', sans-serif;
}
