@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 10%);
  font-family: monospace;
  font-family: 'Mukta', sans-serif;
}

#wrapper {
  max-width: 650px;
  margin: 1rem auto;
  padding: 0 0.5rem;
}

#wrapper > * + * {
  margin-top: 0.75rem;
}

section {
  background: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
}

svg {
  display: block;
  color: hsl(0, 0%, 20%);
}

svg text {
  font-family: 'Mukta', sans-serif;
}
