@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rubik:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: hsl(223, 57%, 12%);
  color: hsl(0, 0%, 100%);
}

h1,
h2 {
  font-family: 'Noto Serif', serif;
}

h1 {
  font-weight: 400;
  font-size: 2.12rem;
}

h2,
h3 {
  font-weight: 400;
  font-size: 1.28rem;
}

#root {
  padding: 1rem;
  max-width: 800px;
  margin: 1rem auto;
}

p {
  line-height: 1.42;
}

mark {
  background: hsla(0, 0%, 100%, 0.1);
  color: inherit;
  padding: 0.15rem 0.25rem;
}

#root > * + * {
  margin-top: 1em;
}

article > * + * {
  margin-top: 0.75em;
}

article h2 {
  text-align: center;
}

article > svg {
  width: 100%;
  height: auto;
  display: block;
}
