@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rubik:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background: hsl(223, 57%, 12%);
  color: hsl(0, 0%, 100%);
}

h1 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

h2,
h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
