* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(207, 19%, 22%);
  color: hsl(215, 25%, 97%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

#root {
  max-width: 700px;
  margin: 0rem auto;
  padding: 1rem;
}

#root svg {
  display: block;
  width: 100%;
  height: auto;
}
