* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(209, 61%, 9%);
  background: hsl(210, 36%, 96%);
  --color-data: hsl(182, 85%, 39%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root > div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports (display: grid) {
  #root > div {
    display: grid;
    grid-template-rows: 1fr auto 3fr;
  }
}

article {
  padding: 0.5rem 1.5rem;
  background: hsl(0, 0%, 99%);
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.9rem -0.5rem hsla(209, 61%, 9%, 0.2);
}

article > * + * {
  margin-top: 0.75em;
}

h2 {
  text-transform: capitalize;
  font-size: 1.59rem;
}

svg {
  margin: auto;
  width: 100vmin;
  max-width: 52rem;
  height: auto;
}

#root.scroll svg {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
