* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 11%);
  background: hsl(240, 11%, 96%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0.25rem 0.5rem -0.5rem hsl(0, 0%, 11%, 0.5);
}

h1 {
  font-size: 1.64rem;
}
