@import url("https://fonts.googleapis.com/css2?family=Inter&family=Tinos:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #161616;
  background: #ffffff;
  font-family: "Inter", sans-serif;
}

#root {
  max-width: 56rem;
  width: 95vw;
  margin: 0.75rem auto;
}

#root > * + * {
  margin-top: 1.5em;
}

header > * + *,
article > * + * {
  margin-top: 0.5em;
}

h1 {
  max-width: 40ch;
  font-size: 2.2rem;
  font-family: "Tinos", serif;
}

svg {
  color: #77747f;
}

svg text {
  font-size: 1rem;
}

.visualization {
  position: relative;
}

.visualization .tooltip {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -100%);
}

.tooltip {
  width: max-content;
  color: #f8f7fc;
  background: #161616;
  padding: 0.35rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}
