* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #17203b;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

svg {
  max-width: 30rem;
  outline: 1px solid;
}
