@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 10%);
  font-family: 'Nunito', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' opacity='0.1' viewBox='0 0 100 100'%3E%3Cpath d='M 50 0 v 100 m -50 -50 h 100' stroke='currentColor' stroke-width='5' fill='none' /%3E%3C/svg%3E");
  background-size: 1rem;
}

main {
  box-shadow: 0 0.2rem 1rem hsl(0, 0%, 92%);
  border-radius: 0.5rem;
  padding: 1.5rem;
  background: hsl(0, 0%, 100%);
  max-width: 45rem;
  margin: 1rem auto;
  width: 95vw;
}
main h1 {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}
main h1 a {
  text-decoration: none;
  color: inherit;
}
main > svg {
  margin-top: 1rem;
  display: block;
  width: 100%;
  height: auto;
}

main > svg text {
  font-family: inherit;
  font-size: 0.75rem;
}
