* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.5;
}

#root {
  inline-size: 90vi;
  max-inline-size: 44rem;
  margin-inline: auto;
  padding-block: 1rem;
}

#root > * + * {
  margin-block-start: 1rem;
}
