* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.5;
}

#root {
  max-inline-size: 48rem;
  margin-inline: auto;
  padding-block: 1rem;
}

#root > * + * {
  margin-block-start: 1.5rem;
}

article {
  padding: 1rem;
  background-color: hsl(0 0% 100%);
}

article > * * {
  margin-block-start: 1em;
}

article > svg {
  margin-block-start: 1.25rem;
}
