@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(210, 24%, 16%);
  background: hsl(221, 67%, 98%);
  --color-mark: hsl(168, 78%, 41%);
  font-family: "Balsamiq Sans", cursive;
}

::selection {
  background: hsla(164, 70%, 63%, 0.9);
}

table {
  border-collapse: collapse;
  margin-inline: auto;
  margin-block: 1rem;
  font-size: 1.2rem;
}

td svg {
  height: 2em;
  width: auto;
  display: block;
}

svg:focus {
  outline: 0.1rem solid currentColor;
}

svg:focus:not(:focus-visible) {
  outline: none;
}

td {
  padding: 0.25rem 0.5rem;
}

tr td:first-of-type {
  border-right: 0.1rem solid currentColor;
  text-align: right;
}

tr:not(:first-of-type) td {
  border-top: 0.1rem solid currentColor;
}
