* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(210, 24%, 16%);
  background: hsl(221, 68%, 93%);
  --color-mark: hsl(182, 85%, 39%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

::selection {
  background: hsla(174, 96%, 78%, 0.9);
}

table {
  border-collapse: collapse;
  margin-inline: auto;
  margin-block: 1rem;
  font-size: 1.2rem;
}

table svg {
  height: 2em;
  width: auto;
  display: block;
}

td {
  padding: 0.25rem 0.5rem;
}

tr td:first-of-type {
  border-right: 0.1rem solid currentColor;
  font-weight: 700;
  text-align: right;
}
tr:not(:first-of-type) td {
  border-top: 0.1rem solid currentColor;
}
