* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(210, 24%, 16%);
  background: hsl(216, 33%, 97%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  min-height: 100vh;
  display: flex;
}

svg {
  color: hsl(209, 20%, 25%);
  --color-subdued: hsl(210, 16%, 82%);
  max-width: 60rem;
  margin: auto;
  display: block;
}
