* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #ffefd8;
  background: linear-gradient(45deg, #540b26, #8b1538);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  min-height: 100vh;
  --color-accent: #03cab5;
}

::selection {
  background: #03cab5aa;
}

#root {
  max-width: 60rem;
  padding: 1rem;
  margin: 1rem auto;
}

#root > * + * {
  margin-block-start: 1em;
}

header > * + * {
  margin-block-start: 0.5em;
}

h1 {
  font-size: 1.67rem;
}

p {
  font-size: 1.1rem;
}

strong {
  border-bottom: 0.2rem solid var(--color-accent);
}

svg {
  color: #eed4b1;
  --color-subdued: #967285;
}
