* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 32%);
  background: hsl(0, 0%, 95%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Crect fill="none" stroke="currentColor" stroke-width="0.25" width="100" height="100" /%3E%3C/svg%3E');
  background-size: 10px;
}

main {
  max-width: 38rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

main > * + * {
  margin-top: 0.75em;
}

h1 {
  font-size: 1.36rem;
}

svg,
input {
  align-self: center;
}

input[type="range"] {
  max-width: 22rem;
  width: 80%;
  accent-color: currentColor;
}

svg {
  max-width: 28rem;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 5px hsla(0, 0%, 50%, 0.2));
}
