* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0, 0%, 28%);
  background: hsl(160, 20%, 97%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  max-width: 40rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > * + * {
  margin-top: 1em;
}

main svg {
  width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: 0.15rem solid hsl(0, 0%, 28%);
  padding: 0.25rem 0.75rem;
  font-family: inherit;
  font-size: inherit;
}

button:first-of-type {
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

button.active {
  background: hsl(0, 0%, 28%);
  color: hsl(90, 50%, 97%);
}

button:not(.active) {
  cursor: pointer;
}

button:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}
