@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Economica&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(40, 90%, 95%);
  color: hsl(0, 0%, 15%);
  background-size: 10%;
  font-family: "IBM Plex Mono", monospace;
}
#root {
  margin: 1rem auto;
  width: 95vw;
  padding: 1rem;
  max-width: 35rem;
}
#root > * + *,
header > * + *,
main > * + *,
form > * + * {
  margin-top: 0.5rem;
}

header,
main,
form {
  margin-bottom: 1.25rem;
}

h1,
h2 {
  font-family: "Economica", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.9rem;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
code {
  font-size: 1.25em;
  padding: 0.1rem 0.2rem;
  background: hsl(45, 75%, 90%);
}
strong {
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main svg {
  width: 100%;
  height: auto;
  display: block;
  background: hsl(45, 75%, 90%);
  box-shadow: 0 0 0.5rem hsla(0, 0%, 15%, 0.1);
}
main form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-family: inherit;
  color: inherit;
  outline-color: hsl(5, 90%, 70%);
}

ul {
  list-style-position: inside;
}
ul li + li {
  margin-top: 0.75rem;
}

a {
  font-size: 1.05rem;
  color: inherit;
  border-bottom: 2px solid hsl(5, 90%, 50%);
  text-decoration: none;
  outline-color: hsl(5, 90%, 70%);
}

a:hover {
  color: hsl(5, 90%, 50%);
}
a code {
  background: none;
}
