* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 7%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

article {
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
}

article > * + * {
  margin-top: 0.75em;
}

.legend {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.legend svg {
  margin-inline: 0.5em 1em;
}

.stacked-bar-chart .axis-y path {
  opacity: 0;
}

.stacked-bar-chart .axis-y text {
  color: hsl(0, 0%, 25%);
  font-size: 0.8rem;
  font-weight: 700;
}

.stacked-bar-chart .axis-x path {
  color: hsl(0, 0%, 57%);
}

.stacked-bar-chart .axis-x text {
  color: hsl(0, 0%, 37%);
  font-size: 0.6rem;
  font-weight: 700;
}
