* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(250, 52%, 33%);
  background: hsl(0, 0%, 97%);
  --color-highlight: hsl(45, 91%, 54%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#root {
  max-width: 52rem;
  margin: 1rem auto;
}

#root > * + * {
  margin-top: 1em;
}

header > * + * {
  margin-top: 0.5em;
}

h1 {
  font-size: 1.49rem;
}

p {
  line-height: 1.5;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
