* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: hsl(40, 75%, 95%);
  background: hsl(205, 98%, 20%);
  --accent: hsl(40, 63%, 69%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

svg {
  display: block;
  margin: 1rem auto;
  max-width: 78rem;
  width: 100%;
  height: auto;
}
