* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(210, 60%, 90%);
  color: hsl(214, 100%, 10%);
  font-family: monospace;
}

main {
  max-width: 30rem;
  width: 95vw;
  margin: 1rem auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background: hsl(210, 20%, 98%);
}

main > svg {
  width: 100%;
  height: auto;
  display: block;
}
